<h1>Create Movie</h1>

<hr />

<form method="post" action="/movies/create">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" name="Title" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea name="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="Director">Director</label>
        <input type="text" name="Director" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ImageUrl">ImageUrl</label>
        <input type="text" name="ImageUrl" class="form-control" />
    </div>
    <div class="form-group">
        <label for="GenreId">GenreId</label>
        <input type="text" name="GenreId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>