@model MoviesViewModel

    <h1>Film Lİstesi</h1>
    <div id="filmler">
    @if (Model.Movies.Count() > 0)
    {
        @foreach (var movie in Model.Movies)
        {
            @await Html.PartialAsync("_movie", movie)
        }
    }
    else
    {
        <div class="alert alert-warning">film bulunamadı.</div>
    }

    </div>

    @if (TempData["Message"] != null)
    {
        @section message
        {
            @await Html.PartialAsync("_message",  (string)TempData["Message"])
        }

    }

    @section menu
    {
        @* @await Html.PartialAsync("_menu", Model.Genres) *@
        @await Component.InvokeAsync("Genres")
    }