@model HomePageViewModel

@section header
{
    @await Html.PartialAsync("_header")
}

@section scripts
{
    <script src="~/js/scripts.js"></script>
}



    <h1>Film Lİstesi</h1>
    <div id="filmler">
    @foreach (var movie in Model.PopulerMovies)
    {
        @await Html.PartialAsync("_movie", movie)
    }
    </div>
