@model Movie

@section header
{
    @await Html.PartialAsync("_header")
}

@section scripts
{
    <script src="~/js/scripts.js"></script>
}



    <h1>Film Lİstesi</h1>
    <div id="filmler">
           @await Html.PartialAsync("_movie", Model)
    </div>
